.pokemon-grid {
  display: grid;
  /*grid-gap:5px;*/
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  color: #000000
}

  .pokemon-grid .box {
    width: 90%;
    height: 300px;
    /*background: #f9f7c8;*/
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.75;
    padding-bottom: 10px;
    color: #000;
  }

    .pokemon-grid .box img {
      margin: 10px auto;
      display: block;
      max-width: 150px;
    }
    .pokemon-grid .box h3,
    .pokemon-grid .box p {
      margin: 0 10px;
      line-height: 0.5;
      margin-bottom: 5px;
    }


  .host {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

pagination-controls{
    text-align:center;

}

default-background {
  background-color: #75515B;
  color: #774686;
}

.background-bug {
  background-color: #1C4B27;
  color: #fff;
}

.background-dark {
  background-color: #5A5979;
  color: #fff;
}

.background-dragon {
  background-color: #448B95;
  color: #fff;
}

.background-electric {
  background-color: #E3E32B;
  color: #fff;
}

.background-fairy {
  background-color: #E3E32B;
  color: #fff;
}

.background-fighting {
  background-color: #994025;
  color: #fff;
}

.background-fire {
  background-color: #994025;
  color: #fff;
}

.background-flying {
  background-color: #994025;
  color: #fff;
}

.background-ghost {
  background-color: #333369;
  color: #fff;
}

.background-grass {
  background-color: #147B3D;
  color: #fff;
}

.background-ground {
  background-color: #A9702C;
  color: #fff;
}

.background-ice {
  background-color: #86D2F5;
  color: #fff;
}

.background-normal {
  background-color: #75515B;
  color: #fff;
}

.background-poison {
  background-color: #5E2D88;
  color: #fff;
}

.background-psychic {
  background-color: #A42A6C;
  color: #fff;
}

.background-rock {
  background-color: #48180B;
  color: #fff;
}

.background-steel {
  background-color: #5F756D;
  color: #fff;
}

.background-water {
  background-color: #1552E2;
  color: #fff;
}

