<body>
  <h1>Pokémon Facts</h1>

  <section>
    <h2>1. The First Pokémon Designed was Rhydon!</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/rhydon-in-early-concept-designs.png" alt="Rhydon in early concept designs">
        <span class="formatted-caption">Rhydon in early concept designs © Ken Sugimori</span>
      </div>
    <p>
      It may be entry #112 in the Pokédex, but according to Ken
      Sugimori – the primary designer for the Pokémon games – Rhydon was the first Pokémon ever created. This is
      also the reason why sprites of Rhydon were so widespread in the original games. In that same interview,
      Sugimori mentions Lapras and Clefairy as some of the other earliest Pokémon designs to join Rhydon.
    </p>
  </section>

  <section>
    <h2>2. Pokémon Means 'Pocket Monsters'</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/Pocket_Monsters.png" alt="Pocket Monsters Manga">
        <span class="formatted-caption">Pocket Monsters manga started in 1996 till 2003</span>
      </div>
    <p>
      Pokémon is an abbreviation of 'Poketto Monsutā' which means 'Pocket Monster' in Japanese. Because they fit
      in your pocket, of course! Although luckily they live in Poke balls, imagine the mess if they used your
      pockets as a loo...
    </p>
  </section>

  <section>
    <h2>3. Pikachu Directly Translates as 'Sparkly Mouse Noise'</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/pikaBolt.gif" alt="Pikachu thunderbolt">
        <span class="formatted-caption">Pikachu's signature attack: thunderbolt</span>
      </div>
    <p>

      If you ever wondered where the Pokémon names come from, Pikachu is a good example of how random they can be.
      'Pika' is from 'Pikapika' which means 'glitter or sparkle' and 'chu' is from 'chuchu' the noise a mouse
      makes. Put them together and you have Sparkle Mouse Noise! For some reason. Pikachu is a sort of mouse,
      right?
    </p>
  </section>

  <section>
    <h2>4. Lots of Pokémon Names are Puns</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/charmander.png" alt="Charmander">
        <span class="formatted-caption">Charmander's name came from the ability to char</span>
      </div>
    <p>
      For example, the powers of Mimikyu are literally to 'mimic you'. And Sudowoodo? 'Psudo wood', or fake wood.
      Squirtle is a reference to the fact that he's a turtle who can squirt water, and Charmander is so-called
      because it's a fire Pokémon which can 'char' you. Which other clever names can you spot?
    </p>
  </section>

  <section>
    <h2>5. Original Pokémon Names</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/weezing-symbolized-los-angeles’-polluted-air.png" alt="Koffing and Weezing">
        <span class="formatted-caption">Koffing and Weezing were to represent LA and NY polluted air</span>
      </div>
    <p>
      In the Pokémon Red and Pokémon Blue beta, some Pokémon had distinctly different names than what we know them as now.
      For example, Koffing and Weezing were named Ny and La respectively to represent the polluted air in New York and Los Angeles.
      Kabuto and Kabutops were named Att and Lantis respectively as a reference to Atlantis. Jigglypuff and Wigglytuff had the
      adorable names of Pudding and Custard. And Gyarados had the much cooler name of Skulkraken.
    </p>
  </section>

  <section>
    <h2>6. The 'Gotta Catch 'Em All' Ethos Has a Back Story</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/gottaCatch.jpg" alt="Gotta Catch">
        <span class="formatted-caption">Gotta catch 'em all!!</span>
      </div>
    <p>
      Satoshi's idea about collecting animals in Pokémon came from his love of being in the garden as a child. As a boy, he
      would spend hours finding and collecting bugs and insects. In fact, he spent so much time doing it, his friends called him 'Dr.
      Bug', and he originally wanted to become a bug scientist - or entomologist, to give it its proper name. We're glad he decided to
      work in video games instead!
    </p>
  </section>
  <section>
    <h2>7. 'Splash' Move Usually Means 'Hop' Instead</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/magikarp.git.gif" alt="Magikarp's Splash'">
        <span class="formatted-caption">Magikarp's signature move</span>
      </div>
    <p>
      'Splash' is Magikarp's signature move. But it doesn't necessarily involve water. In fact, when you 'splash' on land, you
      mostly just flop about. It's not a very intimidating move, we have to admit. Splash is a bit of a joke move that shows just
      how useless Magikarp can be on the battlefield. The move was originally called 'Splash' because only Magikarp used it, but as
      time went on, the splash move (originally called 'hop' in Japanese) can also be used by non-water Pokémon in non-water
      environments. So, next time you see a non-water Pokémon 'splash', now you know what it actually means!
    </p>
  </section>

  <section>
    <h2>8. The Colours of the Pokeballs are actually based on Campbell's Soup Cans</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/warhol-campbell_s-soup-updated.png" alt="Warhol Cans">
        <span class="formatted-caption">Andy Warhol canned soup art</span>
      </div>
    <p>
      Yes, you read right, the famous Pokéball is actually meant to mimic the look of a soup can! Specifically, the tomato soup
      cans that appear in Andy Warhol's famous picture. We're not sure why the design was based on a soup can, but once you see it,
      you can't unsee it!
    </p>
  </section>

  <section>
    <h2>9. Ash's Pokémon was Originally Meant to be a Clefairy, Not Pikachu!</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/pokemon_go_clefairy.png" alt="Clefairy">
        <span class="formatted-caption">Clefairy on Pokemón Go</span>
      </div>
    <p>
      It's hard to imagine anyone else as Ash's best pal, but the original plan was to make it a Clefairy! It's easy to see why,
      like Pikachu, Clefairies are cute, small, and portable, but 'Detective Clefairy' just doesn't have the same ring to it.
    </p>
  </section>

  <section>
    <h2>10. Ash's Japanese Name is Satoshi</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/satoshi.png" alt="Satoshi">
        <span class="formatted-caption">Satoshi, the Pokemón creator</span>
      </div>
    <p>
      In the original Japanese, Ash is called Satoshi, like the game designer who created him (Satoshi Tajiri). We can see why he
      identifies with Ash; not only is Ash the main character, he's also an honest, loyal friend, and both he and Satoshi love
      finding weird creatures to collect!
    </p>
  </section>

  <section>
    <h2>11. 'There are 18 different types of Pokémon</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/PokemonTypes.png" alt="Pokemon types">
        <span class="formatted-caption">Pokemon Types</span>
      </div>
    <p>
      Those 18 are: Fire, Dark, Ice, Fighting, Onix, Steel, Poison, Psychic, Flying, Ground, Electric, Fairy, Water, Bug, Grass,
      Dragon and er, Normal. Imagine being a Normal Pokémon, you wouldn't feel very special, would you?
    </p>
  </section>

  <section>
    <h2>12. Nearly 1,000 Different Species of Pokémon</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/pokemons.png" alt="Pokemons">
        <span class="formatted-caption">So many of them!!</span>
      </div>
    <p>
      Split into 18 different categories, there are nearly 1,000 total different species of Pokémon out there! Originally,
      there were just 151 (although that's still a lot!) but over time the number has grown and grown to a current total of 898,
      and there are more to be discovered!
    </p>
  </section>

  <section>
    <h2>13. Only Mario has Sold More Video Games than Pokémon</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/mario.png" alt="Super Mario">
        <span class="formatted-caption">Super Mario</span>
      </div>
    <p>
      Pokémon is VERY popular. In fact, last year, over 20 years since it first came out, Pokémon was still the best-selling game!
      It's not hard to see why - the endless types of Pokémon and scenarios mean Pokémon has a lot to offer!
    </p>
  </section>

  <section>
    <h2>14. Over 88 Billion Pokémon Caught on Pokémon Go</h2>
    <p>
      <div class="image-container">
        <img src="assets/images/pokemonGO.png" alt="Pokemon Go Players">
        <span class="formatted-caption">Pokemón Go Players</span>
      </div>
    <p>
      That's a lot of Pokémon! Between millions of different people of course - no one person has caught that many!
      In fact, it's basically impossible to 'Catch 'Em All' since some Pokémon don't actually appear in the game, especially
      some of the rarer or older ones. It's fun trying to find them though!
    </p>
  </section>
  <h3>Hope you have enjoyed!!!!</h3>

</body>
<button (click)="scrollToTop()" *ngIf="showScrollTopButton" class="scrollToTopButton">Back to Top</button><!--<pagination-controls (pageChange)="page = $event"></pagination-controls>-->
