<div class="header">
  <div class="pokemon-app-header">
    <div class="pokemon-app-header__image">
      <img src="assets/images/pokemon-01.png" alt="Pokemon Logo" />
    </div>
    <div class="pikachu-header" *appDelayedPresentation="5000">
      <img class="pikachu-img" src="assets/images/pikachuHeader.gif" alt="Pikachu Logo" />
    </div>
  </div>
</div>

<nav class="main-nav">
  <a routerLink="/home">Homepage</a>&nbsp;|&nbsp;
  <a routerLink="/searchArea"> Search Area</a>&nbsp;|&nbsp;
  <a routerLink="/pokemonList"> Pokemon List</a>&nbsp;|&nbsp;
  <a routerLink="/private"> PRIVATE ZONE</a>&nbsp;|&nbsp;
  <a routerLink="/login">Login</a>
</nav>

<router-outlet></router-outlet>
