.header {
  background-color: #2196F3;
  padding: 10px;
}

.pokemon-app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-app-header__image img {
  width: 120px; 
  height: auto;
}

.authentication {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 20px; 
}

.main-nav {
  background-color: #333;
  padding: 10px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px; 
}

.main-nav a:hover {
  text-decoration: underline;
}
